.formacao {
  background: #141414;
  color: #ffffff;
}
.formacao-container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.formacao .subtitulo {
  color: #000000;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}

.formacao-texto strong {
  color: #ffffff;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  background: #000000;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.faculdade-curso {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
}
